name: Deployment
on:
  push:
    branches:
      - dev
jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v3
      - name: Clone carma monorepo
        run: git clone --depth 1 --branch dev https://github.com/cismet/carma.git _carma_monorepo
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache node_modules
        id: cache-node-modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node-modules-${{ runner.os }}-node-20-${{ hashFiles('package-lock.json') }}
      - name: Install Packages
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm install
      - name: fetch tags
        run: git fetch --tags origin
      - name: describe
        run: git describe --always --tags
      - name: prepare 0
        run: touch .version && touch .githash && touch .gitdescribe && yarn run postversion
      - name: prepare 1 (version stuff)
        run: VERSION=`cat .version`; sed -i "s/%LIB_VERSION%/$VERSION/" src/version.js
      - name: prepare 2 (hash stuff)
        run: HASH=`cat .githash`; sed -i "s/%LIB_HASH%/$HASH/" src/version.js
      - name: prepare 3 (gitdescribe stuff)
        run: DESCRIBE=`cat .gitdescribe`; sed -i "s/%LIB_DESCRIBE%/$DESCRIBE/" src/version.js
      - name: debug version.js
        run: cat src/version.js
      - name: debug gitdescribe.js
        run: cat .gitdescribe
      - name: Build to detect errors
        run: npm run build
        env:
          CI: false
      - name: Build Storybook
        run: npm run build-storybook
        env:
          CI: false
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./storybook-static
      - name: show deployed folder
        run: ls storybook-static
